# Data cleaning and feature engineering

In [1]:
# import libraries
import numpy as np
import pandas as pd

In [2]:
# read the dataframe
df = pd.read_csv('/home/josephitopa/Documents/personal_files/ufuoma/data/raw_data/5.866302_7.509482_Solcast_PT60M.csv')

In [3]:
# printout the column names
df.columns

Index(['PeriodEnd', 'PeriodStart', 'Period', 'AirTemp', 'Azimuth',
       'CloudOpacity', 'DewpointTemp', 'Dhi', 'Dni', 'Ghi',
       'PrecipitableWater', 'RelativeHumidity', 'SnowWater', 'SurfacePressure',
       'WindDirection10m', 'WindSpeed10m', 'Zenith'],
      dtype='object')

In [4]:
# select some features
df = df[['PeriodEnd', 'PeriodStart', 'AirTemp', 'CloudOpacity', 'Dhi', 'Dni', 'Ghi',
       'PrecipitableWater', 'RelativeHumidity', 'SurfacePressure',
       'WindDirection10m', 'WindSpeed10m']]

In [5]:
# randomly display 10 rows
df.sample(10)

,PeriodEnd,PeriodStart,AirTemp,CloudOpacity,Dhi,Dni,Ghi,PrecipitableWater,RelativeHumidity,SurfacePressure,WindDirection10m,WindSpeed10m
16213,2008-11-06T15:00:00Z,2008-11-06T14:00:00Z,28.1,27.3,370,22,383,43.9,73.5,992.0,206,2.6
22532,2009-07-27T22:00:00Z,2009-07-27T21:00:00Z,22.7,79.4,0,0,0,58.4,97.4,997.9,246,2.2
25037,2009-11-09T07:00:00Z,2009-11-09T06:00:00Z,22.8,53.8,85,0,85,54.9,96.5,996.2,171,1.4
129981,2021-10-29T23:00:00Z,2021-10-29T22:00:00Z,23.5,81.5,0,0,0,50.6,94.0,996.0,215,1.8
54456,2013-03-19T02:00:00Z,2013-03-19T01:00:00Z,25.5,57.6,0,0,0,62.4,95.1,990.8,240,2.2
106969,2019-03-16T03:00:00Z,2019-03-16T02:00:00Z,25.0,32.7,0,0,0,52.8,92.9,992.7,203,2.1
77225,2015-10-23T19:00:00Z,2015-10-23T18:00:00Z,24.3,0.0,0,0,0,57.2,94.2,995.8,185,1.2
70982,2015-02-05T16:00:00Z,2015-02-05T15:00:00Z,31.5,6.0,236,288,376,39.7,53.9,991.4,213,2.2
64563,2014-05-14T05:00:00Z,2014-05-14T04:00:00Z,24.0,59.5,0,0,0,63.1,99.3,994.8,328,0.4
113529,2019-12-14T11:00:00Z,2019-12-14T10:00:00Z,31.8,1.1,334,545,795,31.6,25.8,997.7,41,3.1

In [6]:
old_names = ['PeriodEnd', 'PeriodStart', 'AirTemp', 'CloudOpacity', 'Dhi', 'Dni', 'Ghi','PrecipitableWater', 'RelativeHumidity',
             'SurfacePressure', 'WindDirection10m', 'WindSpeed10m'] 
new_names = ['PeriodEnd','PeriodStart','Temperature', 'CloudOpacity', 'DHI', 'DNI', 'Radiation', 'Precipitation', 'Humidity', 
             'Pressure', 'WindDirection', 'WindSpeed']
df.rename(columns = dict(zip(old_names, new_names)), inplace = True)

In [7]:
# display dataframe
df.head()

,PeriodEnd,PeriodStart,Temperature,CloudOpacity,DHI,DNI,Radiation,Precipitation,Humidity,Pressure,WindDirection,WindSpeed
0,2007-01-01T02:00:00Z,2007-01-01T01:00:00Z,21.0,0.0,0,0,0,24.5,52.5,997.0,41,1.8
1,2007-01-01T03:00:00Z,2007-01-01T02:00:00Z,20.5,0.0,0,0,0,24.1,49.5,996.7,36,1.9
2,2007-01-01T04:00:00Z,2007-01-01T03:00:00Z,20.2,0.0,0,0,0,23.7,46.1,996.8,33,2.0
3,2007-01-01T05:00:00Z,2007-01-01T04:00:00Z,20.0,0.0,0,0,0,23.4,42.3,997.2,32,2.4
4,2007-01-01T06:00:00Z,2007-01-01T05:00:00Z,19.9,0.0,3,0,3,23.2,38.8,997.5,32,2.7

In [8]:
# show a summary of the dataframe
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 133558 entries, 0 to 133557
Data columns (total 12 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   PeriodEnd      133558 non-null  object
 1   PeriodStart    133558 non-null  object
 2   Temperature    133558 non-null  float64
 3   CloudOpacity   133558 non-null  float64
 4   DHI            133558 non-null  int64
 5   DNI            133558 non-null  int64
 6   Radiation      133558 non-null  int64
 7   Precipitation  133558 non-null  float64
 8   Humidity       133558 non-null  float64
 9   Pressure       133558 non-null  float64
 10  WindDirection  133558 non-null  int64
 11  WindSpeed      133558 non-null  float64
dtypes: float64(6), int64(4), object(2)
memory usage: 12.2+ MB

In [9]:
 # interpret columns as appropriate data types to ensure compatibility
df['Radiation']     = df['Radiation'].astype(float)
df['Temperature']   = df['Temperature'].astype(float) # or int
df['Pressure']      = df['Pressure'].astype(float)
df['CloudOpacity']      = df['CloudOpacity'].astype(float)
df['Humidity']      = df['Humidity'].astype(int) # or int
df['WindDirection'] = df['WindDirection'].astype(float)
df['WindSpeed']     = df['WindSpeed'].astype(float)
df['PeriodStart'] = pd.to_datetime(df['PeriodStart']).dt.to_period('T').dt.to_timestamp()
df['PeriodEnd'] = pd.to_datetime(df['PeriodEnd']).dt.to_period('T').dt.to_timestamp()

/usr/local/lib/python3.8/dist-packages/pandas/core/arrays/datetimes.py:1162: UserWarning: Converting to PeriodArray/Index representation will drop timezone information.
  warnings.warn(
/usr/local/lib/python3.8/dist-packages/pandas/core/arrays/datetimes.py:1162: UserWarning: Converting to PeriodArray/Index representation will drop timezone information.
  warnings.warn(

In [10]:
# display dataframe summary
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 133558 entries, 0 to 133557
Data columns (total 12 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   PeriodEnd      133558 non-null  datetime64[ns]
 1   PeriodStart    133558 non-null  datetime64[ns]
 2   Temperature    133558 non-null  float64
 3   CloudOpacity   133558 non-null  float64
 4   DHI            133558 non-null  int64
 5   DNI            133558 non-null  int64
 6   Radiation      133558 non-null  float64
 7   Precipitation  133558 non-null  float64
 8   Humidity       133558 non-null  int64
 9   Pressure       133558 non-null  float64
 10  WindDirection  133558 non-null  float64
 11  WindSpeed      133558 non-null  float64
dtypes: datetime64[ns](2), float64(7), int64(3)
memory usage: 12.2 MB

In [11]:
# display top 6 rows
df.head()

,PeriodEnd,PeriodStart,Temperature,CloudOpacity,DHI,DNI,Radiation,Precipitation,Humidity,Pressure,WindDirection,WindSpeed
0,2007-01-01 02:00:00,2007-01-01 01:00:00,21.0,0.0,0,0,0.0,24.5,52,997.0,41.0,1.8
1,2007-01-01 03:00:00,2007-01-01 02:00:00,20.5,0.0,0,0,0.0,24.1,49,996.7,36.0,1.9
2,2007-01-01 04:00:00,2007-01-01 03:00:00,20.2,0.0,0,0,0.0,23.7,46,996.8,33.0,2.0
3,2007-01-01 05:00:00,2007-01-01 04:00:00,20.0,0.0,0,0,0.0,23.4,42,997.2,32.0,2.4
4,2007-01-01 06:00:00,2007-01-01 05:00:00,19.9,0.0,3,0,3.0,23.2,38,997.5,32.0,2.7

In [12]:
# Create new features(year, month, day) from start and end time of data collection  
df['YearPS'] = pd.to_datetime(df['PeriodStart']).dt.year
df['YearPE'] = pd.to_datetime(df['PeriodEnd']).dt.year

df['MonthPS'] = pd.to_datetime(df['PeriodStart']).dt.month
df['MonthPE'] = pd.to_datetime(df['PeriodEnd']).dt.month

df['HourPS'] = pd.to_datetime(df['PeriodStart']).dt.hour
df['HourPE'] = pd.to_datetime(df['PeriodEnd']).dt.hour

In [13]:
df.head(5)

,PeriodEnd,PeriodStart,Temperature,CloudOpacity,DHI,DNI,Radiation,Precipitation,Humidity,Pressure,WindDirection,WindSpeed,YearPS,YearPE,MonthPS,MonthPE,HourPS,HourPE
0,2007-01-01 02:00:00,2007-01-01 01:00:00,21.0,0.0,0,0,0.0,24.5,52,997.0,41.0,1.8,2007,2007,1,1,1,2
1,2007-01-01 03:00:00,2007-01-01 02:00:00,20.5,0.0,0,0,0.0,24.1,49,996.7,36.0,1.9,2007,2007,1,1,2,3
2,2007-01-01 04:00:00,2007-01-01 03:00:00,20.2,0.0,0,0,0.0,23.7,46,996.8,33.0,2.0,2007,2007,1,1,3,4
3,2007-01-01 05:00:00,2007-01-01 04:00:00,20.0,0.0,0,0,0.0,23.4,42,997.2,32.0,2.4,2007,2007,1,1,4,5
4,2007-01-01 06:00:00,2007-01-01 05:00:00,19.9,0.0,3,0,3.0,23.2,38,997.5,32.0,2.7,2007,2007,1,1,5,6

In [14]:
# create a new feature for sunrise using the function below; fill time for sunrise
def time_to_sunrise(row):
    """
    A function for identifying time of sunrise.
    """
    value= 0
    if row['HourPS'] == 4 and row['HourPE'] == 5 and row['Radiation'] > 0:
        value= '05:00:00'
    elif row['HourPS'] == 5 and row['HourPE'] == 6 and row['Radiation'] > 0:
        value= '06:00:00'
    return value

In [15]:
#Create a new column using the function above
df['Sunrise'] = df.apply(time_to_sunrise, axis = 1)
df.head(5)

,PeriodEnd,PeriodStart,Temperature,CloudOpacity,DHI,DNI,Radiation,Precipitation,Humidity,Pressure,WindDirection,WindSpeed,YearPS,YearPE,MonthPS,MonthPE,HourPS,HourPE,Sunrise
0,2007-01-01 02:00:00,2007-01-01 01:00:00,21.0,0.0,0,0,0.0,24.5,52,997.0,41.0,1.8,2007,2007,1,1,1,2,0
1,2007-01-01 03:00:00,2007-01-01 02:00:00,20.5,0.0,0,0,0.0,24.1,49,996.7,36.0,1.9,2007,2007,1,1,2,3,0
2,2007-01-01 04:00:00,2007-01-01 03:00:00,20.2,0.0,0,0,0.0,23.7,46,996.8,33.0,2.0,2007,2007,1,1,3,4,0
3,2007-01-01 05:00:00,2007-01-01 04:00:00,20.0,0.0,0,0,0.0,23.4,42,997.2,32.0,2.4,2007,2007,1,1,4,5,0
4,2007-01-01 06:00:00,2007-01-01 05:00:00,19.9,0.0,3,0,3.0,23.2,38,997.5,32.0,2.7,2007,2007,1,1,5,6,06:00:00

In [16]:
df.Sunrise.unique()

array([0, '06:00:00'], dtype=object)

In [17]:
# create a new feature for sunset using the function below; fill time for sunset
def time_to_sunset(row):
    """
    A function for identifying time of sunset.
    """
    value= 0
    if row['HourPS'] == 17 and row['HourPE'] == 18 and row['Radiation']> 0:
        value= '18:00:00'
    elif row['HourPS'] == 18 and row['HourPE']== 19 and row['Radiation']> 0:
        value= '19:00:00'
    return value

In [18]:
#Create a new column using the function above
df['Sunset'] = df.apply(time_to_sunset, axis = 1)

In [19]:
df.Sunset.unique()

array([0, '18:00:00'], dtype=object)

In [20]:
# show summary of our dataframe
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 133558 entries, 0 to 133557
Data columns (total 20 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   PeriodEnd      133558 non-null  datetime64[ns]
 1   PeriodStart    133558 non-null  datetime64[ns]
 2   Temperature    133558 non-null  float64
 3   CloudOpacity   133558 non-null  float64
 4   DHI            133558 non-null  int64
 5   DNI            133558 non-null  int64
 6   Radiation      133558 non-null  float64
 7   Precipitation  133558 non-null  float64
 8   Humidity       133558 non-null  int64
 9   Pressure       133558 non-null  float64
 10  WindDirection  133558 non-null  float64
 11  WindSpeed      133558 non-null  float64
 12  YearPS         133558 non-null  int64
 13  YearPE         133558 non-null  int64
 14  MonthPS        133558 non-null  int64
 15  MonthPE        133558 non-null  int64
 16  HourPS         133558 non-null  int64
 17  HourPE         133558 non-null  int64
 18  Sunrise        133558 non-null  object
 19  Sunset         133558 non-null  object
dtypes: datetime64[ns](2), float64(7), int64(9), object(2)
memory usage: 20.4+ MB

In [21]:
# changing integer values to datetime format
df_new = df.loc[~((df['Radiation'] == 0) & (df['DNI'] == 0) & (df['DHI'] == 0)),:]

In [22]:
# show summary of our dataframe
df_new.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 72037 entries, 4 to 133552
Data columns (total 20 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   PeriodEnd      72037 non-null  datetime64[ns]
 1   PeriodStart    72037 non-null  datetime64[ns]
 2   Temperature    72037 non-null  float64
 3   CloudOpacity   72037 non-null  float64
 4   DHI            72037 non-null  int64
 5   DNI            72037 non-null  int64
 6   Radiation      72037 non-null  float64
 7   Precipitation  72037 non-null  float64
 8   Humidity       72037 non-null  int64
 9   Pressure       72037 non-null  float64
 10  WindDirection  72037 non-null  float64
 11  WindSpeed      72037 non-null  float64
 12  YearPS         72037 non-null  int64
 13  YearPE         72037 non-null  int64
 14  MonthPS        72037 non-null  int64
 15  MonthPE        72037 non-null  int64
 16  HourPS         72037 non-null  int64
 17  HourPE         72037 non-null  int64
 18  Sunrise        72037 non-null  object
 19  Sunset         72037 non-null  object
dtypes: datetime64[ns](2), float64(7), int64(9), object(2)
memory usage: 11.5+ MB

In [23]:
# display 10 random samples of the dataframe
df_new.sample(10)

,PeriodEnd,PeriodStart,Temperature,CloudOpacity,DHI,DNI,Radiation,Precipitation,Humidity,Pressure,WindDirection,WindSpeed,YearPS,YearPE,MonthPS,MonthPE,HourPS,HourPE,Sunrise,Sunset
3616,2007-05-31 18:00:00,2007-05-31 17:00:00,28.6,0.0,15,62,22.0,49.3,62,993.4,198.0,3.3,2007,2007,5,5,17,18,0,18:00:00
98269,2018-03-18 15:00:00,2018-03-18 14:00:00,29.6,5.3,304,436,618.0,49.2,65,989.5,231.0,3.0,2018,2018,3,3,14,15,0,0
109743,2019-07-09 17:00:00,2019-07-09 16:00:00,25.8,50.1,95,0,95.0,54.5,82,998.9,258.0,2.2,2019,2019,7,7,16,17,0,0
100809,2018-07-02 11:00:00,2018-07-02 10:00:00,27.8,30.1,548,72,614.0,50.0,65,995.7,300.0,1.8,2018,2018,7,7,10,11,0,0
112473,2019-10-31 11:00:00,2019-10-31 10:00:00,30.0,43.9,525,0,525.0,53.4,68,997.8,326.0,1.1,2019,2019,10,10,10,11,0,0
22790,2009-08-07 16:00:00,2009-08-07 15:00:00,23.2,13.9,227,314,391.0,57.1,96,995.8,274.0,2.0,2009,2009,8,8,15,16,0,0
103115,2018-10-06 13:00:00,2018-10-06 12:00:00,27.5,30.8,564,86,645.0,57.6,85,995.9,231.0,0.5,2018,2018,10,10,12,13,0,0
114352,2020-01-17 18:00:00,2020-01-17 17:00:00,30.8,0.0,11,5,12.0,22.1,19,994.9,38.0,1.1,2020,2020,1,1,17,18,0,18:00:00
82000,2016-05-09 18:00:00,2016-05-09 17:00:00,28.7,0.0,13,42,18.0,52.9,71,993.9,213.0,2.6,2016,2016,5,5,17,18,0,18:00:00
107166,2019-03-24 08:00:00,2019-03-24 07:00:00,25.1,49.1,179,0,179.0,56.3,90,994.5,199.0,2.3,2019,2019,3,3,7,8,0,0

In [24]:
# convert datetime column of endperiod to just date
df_new['Date'] = pd.to_datetime(df_new['PeriodEnd']).dt.normalize()

/tmp/ipykernel_66001/3824839280.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_new['Date'] = pd.to_datetime(df_new['PeriodEnd']).dt.normalize()

In [25]:
# convert the column (it's a string) to datetime type
dt_series = pd.to_datetime(df_new['Date'])

# create datetime index passing the datetime series
dt_index = pd.DatetimeIndex(dt_series.values)

# 
df_new1 = df_new.set_index(dt_index)

In [26]:
# display first 5 rows
df_new1.head()

,PeriodEnd,PeriodStart,Temperature,CloudOpacity,DHI,DNI,Radiation,Precipitation,Humidity,Pressure,...,WindSpeed,YearPS,YearPE,MonthPS,MonthPE,HourPS,HourPE,Sunrise,Sunset,Date
2007-01-01,2007-01-01 06:00:00,2007-01-01 05:00:00,19.9,0.0,3,0,3.0,23.2,38,997.5,...,2.7,2007,2007,1,1,5,6,06:00:00,0,2007-01-01
2007-01-01,2007-01-01 07:00:00,2007-01-01 06:00:00,20.8,0.0,67,0,67.0,23.1,35,997.9,...,3.0,2007,2007,1,1,6,7,0,0,2007-01-01
2007-01-01,2007-01-01 08:00:00,2007-01-01 07:00:00,22.6,0.0,193,25,205.0,23.3,32,998.2,...,3.3,2007,2007,1,1,7,8,0,0,2007-01-01
2007-01-01,2007-01-01 09:00:00,2007-01-01 08:00:00,24.5,0.0,320,114,390.0,23.4,29,998.5,...,3.7,2007,2007,1,1,8,9,0,0,2007-01-01
2007-01-01,2007-01-01 10:00:00,2007-01-01 09:00:00,26.5,0.0,396,253,586.0,23.8,25,998.3,...,3.7,2007,2007,1,1,9,10,0,0,2007-01-01

In [27]:
# 
df_new1.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 72037 entries, 2007-01-01 to 2022-03-27
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   PeriodEnd      72037 non-null  datetime64[ns]
 1   PeriodStart    72037 non-null  datetime64[ns]
 2   Temperature    72037 non-null  float64
 3   CloudOpacity   72037 non-null  float64
 4   DHI            72037 non-null  int64
 5   DNI            72037 non-null  int64
 6   Radiation      72037 non-null  float64
 7   Precipitation  72037 non-null  float64
 8   Humidity       72037 non-null  int64
 9   Pressure       72037 non-null  float64
 10  WindDirection  72037 non-null  float64
 11  WindSpeed      72037 non-null  float64
 12  YearPS         72037 non-null  int64
 13  YearPE         72037 non-null  int64
 14  MonthPS        72037 non-null  int64
 15  MonthPE        72037 non-null  int64
 16  HourPS         72037 non-null  int64
 17  HourPE         72037 non-null  int64
 18  Sunrise        72037 non-null  object
 19  Sunset         72037 non-null  object
 20  Date           72037 non-null  datetime64[ns]
dtypes: datetime64[ns](3), float64(7), int64(9), object(2)
memory usage: 12.1+ MB

In [28]:
df_new1['Date'] = pd.to_datetime(df_new1['PeriodEnd']).dt.date

for col in ['Sunrise', 'Sunset']:
    df_new1[col] = df_new1[col].astype(str)
    
agg_dict = {
    'Temperature':'mean',
    'CloudOpacity':'mean',
    'DHI':'mean',
    'DNI':'mean',
    'Radiation':'mean',
    'Precipitation':'mean',
    'Humidity':'mean',
    'Pressure':'mean',
    'WindDirection':'mean',
    'WindSpeed':'mean',
    'Sunrise':'max',
    'Sunset':'max',
}

df_grouped = df_new1.groupby(['Date']).agg(agg_dict)
df_grouped.reset_index(inplace = True)
df_grouped

,Date,Temperature,CloudOpacity,DHI,DNI,Radiation,Precipitation,Humidity,Pressure,WindDirection,WindSpeed,Sunrise,Sunset
0,2007-01-01,27.607692,0.969231,264.384615,130.307692,363.076923,24.838462,24.923077,996.446154,43.538462,2.384615,06:00:00,18:00:00
1,2007-01-02,27.753846,0.000000,264.153846,131.923077,363.076923,22.800000,24.384615,996.369231,84.615385,2.323077,06:00:00,18:00:00
2,2007-01-03,27.330769,0.000000,238.923077,228.615385,404.769231,21.838462,27.461538,995.376923,85.230769,1.592308,06:00:00,18:00:00
3,2007-01-04,27.946154,0.107692,242.769231,229.461538,406.384615,22.338462,37.769231,994.684615,73.923077,1.715385,06:00:00,18:00:00
4,2007-01-05,28.692308,0.000000,211.692308,311.692308,435.461538,21.953846,28.769231,994.038462,77.538462,2.161538,06:00:00,18:00:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...
5560,2022-03-23,31.761538,45.961538,304.307692,8.153846,312.076923,47.423077,56.307692,994.484615,213.307692,2.507692,06:00:00,18:00:00
5561,2022-03-24,31.892308,23.030769,318.615385,110.153846,408.000000,49.730769,55.230769,993.707692,208.076923,1.961538,06:00:00,18:00:00
5562,2022-03-25,33.161538,49.815385,243.230769,0.000000,243.230769,46.707692,50.846154,993.076923,170.307692,1.638462,06:00:00,18:00:00
5563,2022-03-26,32.907692,12.561538,323.769231,131.153846,424.153846,43.646154,47.846154,993.323077,203.384615,2.123077,06:00:00,18:00:00
5564,2022-03-27,34.146154,9.661538,314.230769,156.230769,436.538462,40.438462,45.846154,994.653846,178.153846,1.538462,06:00:00,18:00:00

In [29]:
df_grouped['Month'] = pd.to_datetime(df_grouped['Date']).dt.month
df_grouped['Day'] = pd.to_datetime(df_grouped['Date']).dt.day

In [30]:
"""
# sample daily average for the solar and weather features
df_new1['Daily_radiation'] = df_new1.reset_index().groupby(pd.Grouper(key='Date', freq='1D'))['Radiation'].mean()
df_new1['Daily_DNI'] = df_new1.reset_index().groupby(pd.Grouper(key='Date', freq='1D'))['DNI'].mean()
df_new1['Daily_DHI'] = df_new1.reset_index().groupby(pd.Grouper(key='Date', freq='1D'))['DHI'].mean()
df_new1['Daily_Temp'] = df_new1.reset_index().groupby(pd.Grouper(key='Date', freq='1D'))['Temperature'].mean()
df_new1['Daily_Precip'] = df_new1.reset_index().groupby(pd.Grouper(key='Date', freq='1D'))['Precipitation'].mean()
df_new1['Daily_Humidity'] = df_new1.reset_index().groupby(pd.Grouper(key='Date', freq='1D'))['Humidity'].mean()
df_new1['Daily_Pressure'] = df_new1.reset_index().groupby(pd.Grouper(key='Date', freq='1D'))['Pressure'].mean()
df_new1['Daily_WindDir'] = df_new1.reset_index().groupby(pd.Grouper(key='Date', freq='1D'))['WindDirection'].mean()
df_new1['Daily_WindSpeed'] = df_new1.reset_index().groupby(pd.Grouper(key='Date', freq='1D'))['WindSpeed'].mean()

df_grouped['Sunrise'] = df_grouped['Sunrise'].astype(int) 
df_grouped['Sunset'] = df_grouped['Sunset'].astype(int) 
"""

"\n# sample daily average for the solar and weather features\ndf_new1['Daily_radiation'] = df_new1.reset_index().groupby(pd.Grouper(key='Date', freq='1D'))['Radiation'].mean()\ndf_new1['Daily_DNI'] = df_new1.reset_index().groupby(pd.Grouper(key='Date', freq='1D'))['DNI'].mean()\ndf_new1['Daily_DHI'] = df_new1.reset_index().groupby(pd.Grouper(key='Date', freq='1D'))['DHI'].mean()\ndf_new1['Daily_Temp'] = df_new1.reset_index().groupby(pd.Grouper(key='Date', freq='1D'))['Temperature'].mean()\ndf_new1['Daily_Precip'] = df_new1.reset_index().groupby(pd.Grouper(key='Date', freq='1D'))['Precipitation'].mean()\ndf_new1['Daily_Humidity'] = df_new1.reset_index().groupby(pd.Grouper(key='Date', freq='1D'))['Humidity'].mean()\ndf_new1['Daily_Pressure'] = df_new1.reset_index().groupby(pd.Grouper(key='Date', freq='1D'))['Pressure'].mean()\ndf_new1['Daily_WindDir'] = df_new1.reset_index().groupby(pd.Grouper(key='Date', freq='1D'))['WindDirection'].mean()\ndf_new1['Daily_WindSpeed'] = df_new1.reset_index().groupby(pd.Grouper(key='Date', freq='1D'))['WindSpeed'].mean()\n\ndf_grouped['Sunrise'] = df_grouped['Sunrise'].astype(int) \ndf_grouped['Sunset'] = df_grouped['Sunset'].astype(int) \n"

In [31]:
# display a summary of our dataframe
df_grouped.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5565 entries, 0 to 5564
Data columns (total 15 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Date           5565 non-null   object
 1   Temperature    5565 non-null   float64
 2   CloudOpacity   5565 non-null   float64
 3   DHI            5565 non-null   float64
 4   DNI            5565 non-null   float64
 5   Radiation      5565 non-null   float64
 6   Precipitation  5565 non-null   float64
 7   Humidity       5565 non-null   float64
 8   Pressure       5565 non-null   float64
 9   WindDirection  5565 non-null   float64
 10  WindSpeed      5565 non-null   float64
 11  Sunrise        5565 non-null   object
 12  Sunset         5565 non-null   object
 13  Month          5565 non-null   int64
 14  Day            5565 non-null   int64
dtypes: float64(10), int64(2), object(3)
memory usage: 652.3+ KB

In [32]:
# drop irrelevant features
new_df = df_grouped.drop(['Sunrise', 'Sunset'], axis = 1)

In [33]:
# display first 10 rows
new_df.head(10)

,Date,Temperature,CloudOpacity,DHI,DNI,Radiation,Precipitation,Humidity,Pressure,WindDirection,WindSpeed,Month,Day
0,2007-01-01,27.607692,0.969231,264.384615,130.307692,363.076923,24.838462,24.923077,996.446154,43.538462,2.384615,1,1
1,2007-01-02,27.753846,0.000000,264.153846,131.923077,363.076923,22.800000,24.384615,996.369231,84.615385,2.323077,1,2
2,2007-01-03,27.330769,0.000000,238.923077,228.615385,404.769231,21.838462,27.461538,995.376923,85.230769,1.592308,1,3
3,2007-01-04,27.946154,0.107692,242.769231,229.461538,406.384615,22.338462,37.769231,994.684615,73.923077,1.715385,1,4
4,2007-01-05,28.692308,0.000000,211.692308,311.692308,435.461538,21.953846,28.769231,994.038462,77.538462,2.161538,1,5
5,2007-01-06,28.707692,0.046154,234.384615,245.384615,410.769231,20.915385,32.000000,994.561538,25.384615,1.946154,1,6
6,2007-01-07,28.653846,0.269231,276.230769,89.615385,346.769231,21.107692,27.461538,994.046154,68.538462,1.753846,1,7
7,2007-01-08,28.623077,0.261538,263.923077,147.846154,372.692308,22.692308,34.846154,993.415385,19.692308,2.315385,1,8
8,2007-01-09,28.984615,0.000000,275.538462,113.846154,359.846154,21.184615,24.769231,993.223077,33.615385,1.715385,1,9
9,2007-01-10,29.061538,0.069231,239.000000,246.769231,418.000000,18.130769,24.230769,993.784615,39.923077,2.192308,1,10

In [34]:
# show a summary of the dataframe
new_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5565 entries, 0 to 5564
Data columns (total 13 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Date           5565 non-null   object
 1   Temperature    5565 non-null   float64
 2   CloudOpacity   5565 non-null   float64
 3   DHI            5565 non-null   float64
 4   DNI            5565 non-null   float64
 5   Radiation      5565 non-null   float64
 6   Precipitation  5565 non-null   float64
 7   Humidity       5565 non-null   float64
 8   Pressure       5565 non-null   float64
 9   WindDirection  5565 non-null   float64
 10  WindSpeed      5565 non-null   float64
 11  Month          5565 non-null   int64
 12  Day            5565 non-null   int64
dtypes: float64(10), int64(2), object(1)
memory usage: 565.3+ KB

In [35]:
# dropping ALL duplicate values exceept the last value
new_df = new_df[~new_df.Date.duplicated(keep = 'last')]

In [36]:
# show the number of rows and columns available
new_df.shape

(5565, 13)

In [37]:
# list out the column names
new_df.columns

Index(['Date', 'Temperature', 'CloudOpacity', 'DHI', 'DNI', 'Radiation',
       'Precipitation', 'Humidity', 'Pressure', 'WindDirection', 'WindSpeed',
       'Month', 'Day'],
      dtype='object')

In [38]:
# save cleaned dataset
new_df.to_csv('/home/josephitopa/Documents/personal_files/ufuoma/data/processed/processed_solar_data.csv', index = False)
new_df.to_csv('/home/josephitopa/Documents/personal_files/ufuoma/data/cleaned_data/cleaned_solar_data.csv', index = False)

In [39]:
model_df = new_df.drop(["Date"], axis = 1)

# produces a 70%, 15%, 15% split for training, validation and test sets
train_data, validation_data, test_data = np.split(model_df.sample(frac = 1), [int(.7 * len(model_df)), int(.85 * len(model_df))])

# convert dataframes to .csv and save locally
model_df.to_csv('/home/josephitopa/Documents/personal_files/ufuoma/data/cleaned_data/model.csv', header = True, index = False)
train_data.to_csv('/home/josephitopa/Documents/personal_files/ufuoma/data/cleaned_data/train.csv', header = True, index = False)
validation_data.to_csv('/home/josephitopa/Documents/personal_files/ufuoma/data/cleaned_data/validation.csv', header=True, index = False)
test_data.to_csv('/home/josephitopa/Documents/personal_files/ufuoma/data/cleaned_data/test.csv', header = True, index = False)